.landing{
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
    margin-top: 20px;
}
.landing div{
    height: auto;
    width: 45%;
    border: 1px solid rgb(110, 106, 106);
    margin: auto;
  

}
.landing div img{
    width: 100%;
}
